.Change_Password{
 display:block;
 margin-top:100px;
}
.btn-submit{
  border-radius: 10px;
  background: #424999;
  color:white;
  &:hover{
  	color:white;
  	background:#474FAE;
  	border-bottom: 1px solid;
    box-shadow: 4px 1px #888888;
  }
}