.bg-studied{
	margin:0;
	padding: 0;
	background:linear-gradient(rgba(14,12,12,0.4),rgba(14,12,12,0.4)) , url('./Photos/children-593313_1920.jpg'),;
	background-size:cover;
	height: 100vh;

}
.z-index{
	z-index:111111111111111111111111111111111111;
}
.home{
	overflow:auto;
}
.selected__{
	padding-top:100px;
}
.navs{
	position:fixed;
	display:flex;
	width:100%;
	height:65px;
	z-index: 1111111111111;
	 animation-name:navs;
    animation-duration: 1s;
    animation-fill-mode:forwards;
}
@keyframes navs{
  from{margin-top:-200px;}
  to{margin-top:0;}
}
.sticky{
	background:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6));
}

.title{
  margin-top:13px;
  margin-left:40px;
  width: 208px;
  height: 83px;
  color:white;
  font-family: "Segoe UI";
  font-size: 36px;
  font-weight: 700;
  line-height: 48px;
  cursor:pointer;
}
.active{
	border-bottom:1px solid #F33737;
    border-radius: 8px;
    cursor:pointer;
}
.nav-lists{
	margin-top:20px;
	list-style:none;
	display:flex;
	&>.first-child{
		margin-left:20px;
	}
	&>.nav-item1{
		padding:10px;
		color:white;
        height: 40px;
        font-family: "Segoe UI";
        font-size: 18px;
        font-weight: 400;
        line-height: 24px;
        text-align: center;
        cursor:pointer;
		&:hover{
		   border-bottom:1px solid #F33737;
		   border-radius: 8px;
		}
	}
}
.signin{
	
      position:absolute;
      right:40px;
      text-decoration:none;
      color:white;
      cursor:pointer;
      height:30px;
      &:hover{
      	   color:white;
		   border-bottom:1px solid #F33737;
		   border-radius: 8px;
		}
	}
.signUp{
      position:absolute;
      right:120px;
      text-decoration:none;
      color:white;
      cursor:pointer;
      height:30px;
      &:hover{
      	   color:white;
		   border-bottom:1px solid #F33737;
		   border-radius: 8px;
		}
	}
.title-center{
	color:white;
    padding-top:220px;
    animation-name:text-center;
    animation-duration: 1.5s;
    animation-fill-mode:forwards;
    
}
.btn-signup{
	display:flex;
	justify-content:center;

}
.signup{
	background-color:#DC4B4B;
	padding:5px;
	width:100px;
	height:40px;
	border-radius:15px;
	text-decoration:none;
	&:hover{
		cursor: pointer;
		color:white;
		background-color:#F33737;
		box-shadow: 0px 4px #888888;
	}
}
.sub-title{
	color:white;
    animation-name:text-center;
    animation-duration: 1.5s;
    animation-fill-mode:forwards;
}
@keyframes text-center{
  from{margin-left:-990px;}
  to{margin-right:10;}
}

.course{
   padding:25px;
   margin-left:20px;
   font-family: "Segoe UI";
   font-weight: 900;

}
.showcourse{
	padding:10px;
	padding:20px;
	overflow:hidden;
}
.hamburger{
  display:none;
  position:absolute;
  top:20px;
  right:40px;
  color:white;
  
}
#course{
	overflow:hidden;
}
.courses{
	display: flex;
	justify-content: center;
	overflow:hidden;
}
.course-img{
	height:200px;
	width:300px;
	background-color:#D3D3D3;
}
.card{
	padding:10px;

}
.seeall{
	display:flex;
	justify-content:center;
	overflow:hidden;
	&>a{
		background-color:#DC4B4B;
		margin:20px;
		padding-top:2px;
		padding-left:40px;
		padding-right:40px;
		height:30px;
		color:white;
		cursor:pointer;
		border-radius:15px;

	}
}
.see_all{
	color:white;
	text-decoration:none;
	&:hover{
		background-color:#F33737;
		color:white;
		box-shadow: 0px 4px #888888;
	}
}
.bg-studied+.navs{
	padding:10px;
}
@media only screen and (max-width: 848px){

.login_image_{
	position:absolute;
	top:10px;
	left:10px;
}
 .title{
 	display:flex;
 	justify-content:center;
 	width:100%;
 	padding:0;
 	margin:0;
 	 &:hover{
 	 	cursor:auto;
 	 }
 }
 .title-center{
   padding-top:300px;
 }
 @keyframes nav{
  from{
  opacity: 0;
  visibility:hidden;
  }
  to{visibility: visible;
  opacity: 1;
  }
 }

 .navs{
 	padding:0;
 	margin:0;
 	display:block;
 	padding-bottom:10px;
 	height:50px;
 	background:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.5));
 }
 .nav-auto{
 	height:auto;
 }
 .nav-lists{
   display:none;
   left:10px;
   &>.first-child{
     margin-left:0px;
	}
   &>.signin{
 	 position:relative;
 	 margin-left:80px;
  }
   &>.signUp{
 	 position:relative;
 	 margin-left:240px;
  }
 }
  .title{
 	background:linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1));
    height:55px;
     &:hover{
 	 	cursor:auto;
 	 }
 }
 .hamburger{
 	display:inline-block;
 	cursor:pointer;
 	z-index:1111111111111111111111111111111111111;
 }
 .nav-lists.nav-show{
 	display:block;
 	animation-name:nav;
 	animation-duration: 2s;
    animation-fill-mode:forwards;
    transition: all .5s ease-in-out;

 }

}

.login_image_{
	z-index:111111111111111111111111111;
	position:absolute;
	right:40px;
	width:40px;
	height:40px;
	border-radius:50%;
	cursor:pointer;
	background:gray;
}